html {
    font-family: Helvetica, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin: 40px;
}

body {
    background-color: rgb(238, 238, 238);
}

img {
    width: 70%;
}

aside {
    vertical-align: top;
    max-width: 30%;
    display: inline-block;
}

article, ul {
    display: inline-block;
}

article {
    max-width: 60%;
    padding-right: 20px;
}