.chain {
    display: grid;
    grid-template-columns: auto 46px;
    grid-auto-flow: column;
    align-items: center;
    float: left;
    clear: both;
}

.chain .reqs {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
}

.product {
    background-color: rgba(224, 189, 140, 0.2);
    box-shadow: 8px 0 4px -4px rgba(0, 0, 0, 0.2);

    margin-top: 8px;
    margin-bottom: 8px;
    /* padding: 8px 16px; */
    float: left;
    clear: both;
}

.product::after {
    display: table;
    clear: both;
    content: '';
}

.top-req {
    rotate: 45deg;
}

.bot-req {
    rotate: -45deg;
}

.chain .input {
    display: grid;
    grid-template-columns: auto 46px;
    grid-auto-flow: column;
    align-items: center;

    background-color: rgba(224, 189, 140, 0.2);
    box-shadow: 8px 0 4px -4px rgba(0, 0, 0, 0.2);
}

.toggle {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 599px) {
    .chain .input {
        grid-template-columns: auto 23px;
    }
}