<h1>Register Page</h1>
<form method="POST" action="/auth/register">
  <label>Username:
    <input type="text" name="username" value="{{body.username}}" /></label>
  <label>Password: <input type="password" name="password" /></label>
  <label>Repass: <input type="password" name="repass" /></label>
  <button>Register</button>
</form>