body {
  background-color: #eee;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
}

header,
main,
aside,
footer {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.4rem;
  color: #000;
  margin: 10px;
  box-shadow: 0px -20px 30px -30px rgba(0, 0, 0, 0.45),
    20px 0px 30px -30px rgba(0, 0, 0, 0.45),
    0px 20px 30px -30px rgba(0, 0, 0, 0.45),
    -20px 0px 30px -30px rgba(0, 0, 0, 0.45);
}

header,
footer {
  flex-basis: 100%;
}

main {
  flex: 8 1 40rem;
}

aside {
  flex: 2 1 20rem;
}
