body {
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
