html {
    font-family: Helvetica, sans-serif;
    margin-top: 60px;
    margin-left: 60px;
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: green;
}

hr {
    height: 1px;
    background: black;
}

span {
    font-size: 30px;
    margin-right: 60px;
}